<% if flash[:error] %>
<p>DO THIS</p>
<% end %>

<p>What's your name?</p>
<form action='/show_board' method='post'>
	<input type='text' name='name' placeholder='Please enter your name here...'/> 
	<button>Bring it on!</button>
</form>
