<p>You did not enter a name. You must do this to continue. Try again please.</p>
<p>What's your name?</p>
<form action='/new_game' method='post'>
	<input type='text' name='name' placeholder='Please enter your name here...'/> 
	<button>Bring it on!</button>
</form>
